<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
    <appSettings>
        <add key="default.connectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add key="default.connectionString" value="Data Source=(local);Initial Catalog=AtmosferaP4;User Id=p4user;Password=PASS" />     
    </appSettings>
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
       
      <httpModules>
        <add name="XsltModule" type="XsltFilter.XsltFilterModule, XsltFilter"/>
        
      </httpModules>
    </system.web>
  <nlog autoRefresh="true" internalLogLevel="Debug" internalLogFile="../logs/log.log" throwExceptions="true">
    <appenders async="true">
      <appender name="file" type="File" fileName="${basedir}/../logs/all.${shortdate}.log"/>
    </appenders>
    <rules>
      <logger name="*" minlevel="Trace" appendTo="file" />
    </rules>
  </nlog>
</configuration>
